@import '../../common/commonStyles/vars.style.scss';

$pd-filter-button: $fs-filter-button*0.5;

.filter-view {
    position: fixed;
    bottom: 12*$body-padding;
    right: 5*$body-padding;
    border-radius: $pd-filter-button + $fs-filter-button;
    width: max-content;
    max-height: $pd-filter-button + $fs-filter-button;
}
.filter-button {
    color: $cl-white-tint0;
    background: $cl-main-bg-trans;
    width: max-content;
    padding: $pd-filter-button $pd-filter-button*2;
    font-size: $fs-filter-button;
    line-height: $fs-filter-button;
    border-radius: $pd-filter-button + $fs-filter-button;
    cursor: pointer;
}
