@import '../../common/commonStyles/vars.style.scss';

$pd-filter-button: $fs-filter-button*0.5;

@keyframes expanding {
    10% {
        margin-left: 100%;
        width: 300%; 
    }

    100% {
        margin-left: 0%;
        width: 100%;
    }
}

.filter-view {
    position: fixed;
    bottom: 8*$body-padding;
    right: 5*$body-padding;
    border-radius: $pd-filter-button + $fs-filter-button;
    width: max-content;
    max-height: $pd-filter-button + $fs-filter-button;
}
.filter-view.expanded {
    width: 100%;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    bottom: 4*$body-padding;
}
.filter-button {
    color: $cl-white-tint0;
    background: $cl-blue-tint1;
    width: max-content;
    padding: $pd-filter-button $pd-filter-button*2;
    font-size: $fs-filter-button;
    line-height: $fs-filter-button;
    border-radius: $pd-filter-button + $fs-filter-button;
    cursor: pointer;
}
.filter-container.ng-hide {
    display: none;
    max-width: 50%;
}
.filter-container {
    display: block;
    max-height: 1080px;
    max-width: 100%;
    background: $cl-gray-tint2;
    transition: all 0.3s;
}