
// colors 
$cl-gray-tint1: #c9c3b6;
$cl-white-tint1: #f0e7d6;
$cl-exotic-yellow: rgb(241, 195, 44);
$cl-legendary-purple: rgb(142, 41, 182);
$cl-rare-blue: #64c9e2;
$cl-uncommon-green: #18b10a;
$cl-common-white: #eff1f1;

// paddings
$body-padding: 0.4rem;