
// colors 
$cl-gray-tint1: #c9c3b6;
$cl-gray-tint2: #94918a;
$cl-black-tint1: rgb(46, 46, 46);
$cl-white-tint1: #f0e7d6;
$cl-exotic-yellow: #CEAF33;
$cl-legendary-purple: #523065;
$cl-rare-blue: #5075A3;
$cl-uncommon-green: #366F42;
$cl-common-white: #C4BDB5;

// paddings 16px;
$body-padding: 0.5rem;

// font sizes

$fs-weapon-list-item: $body-padding*2.25;


// classes
.bg.exotic {
    background-color: $cl-exotic-yellow;
    color: $cl-white-tint1;
    img {
        border-color: $cl-exotic-yellow;
        background-color: $cl-exotic-yellow;
    }
}
.bg.legendary {
    background-color: $cl-legendary-purple;
    color: $cl-white-tint1;
    img {
        border-color: $cl-legendary-purple;
        background-color: $cl-legendary-purple;
    }
}
.bg.rare {
    background-color: $cl-rare-blue;
    color: $cl-white-tint1;
    img {
        border-color: $cl-rare-blue;
        background-color: $cl-rare-blue;
    }
}
.bg.uncommon {
    background-color: $cl-uncommon-green;
    color: $cl-white-tint1;
    img {
        border-color: $cl-uncommon-green;
        background-color: $cl-uncommon-green;
    }
}
.bg.common {
    background-color: $cl-common-white;
    color: $cl-black-tint1;
    img {
        border-color: $cl-common-white;
        background-color: $cl-common-white;
    }
}