
// cl - colors 
$cl-gray-tint1: #c9c3b6;
$cl-gray-tint2: #94918a;
$cl-black-tint1: rgb(46, 46, 46);
$cl-white-tint1: #f0e7d6;
$cl-exotic-yellow: #CEAF33;
$cl-legendary-purple: #523065;
$cl-rare-blue: #5075A3;
$cl-uncommon-green: #366F42;
$cl-common-white: #C4BDB5;
$cl-tooltip-bg: rgba(204, 193, 166, 0.6);

// paddings. 1rem ~ 16px;
$body-padding: 0.5rem;

// mg - margins. weapon view constants
$mg-weapon-view-content-offset:  3%;

// wd - width. max body size (width)
$wd-body-max: 768px;

// fs - font sizes
$fs-weapon-list-item: $body-padding*2.25;
