<div class="weapon-filter advanced"
     ng-repeat="(section, sectionContent) in advancedFilter.perksMap">
     <div class="filter-section-title">
         {{::section}}
     </div>
     <div class="filter-section-content">
         <div class="filter-section-item"
            ng-class="{'included': this.isIncluded}"
            background-src
            grid-column="::$index+1"
            ng-click="::advancedFilter.toggleFilter(this, itemName, this.name)"
            ng-repeat="item in sectionContent">
                {{::item.name}}
         </div>
     </div>
</div>