@import '../../common/commonStyles/vars.style.scss';

.sorting-link {
    background:$cl-main-bg-red;
    position: relative;
    margin-bottom: $body-padding;
    padding: 2*$body-padding;   
    color: $cl-white-tint1;
    vertical-align: middle;
    background-position: center top;
    .title {
        font-size: 3*$body-padding;
        font-weight: 900;
        color: $cl-white-tint1;
        flex-wrap: 900;
    }
    &.season {
        background: url("../img/covers/menu_new_stuff.jpg");
        
        background-size: cover;
    }
    &.source {
        background: url("../img/covers/menu_weapon_sources.jpg");
        background-size: cover;
    }
    &.godRoll {
        background: url("../img/covers/menu_god_roll.jpg");
        background-size: cover;
    }
    &:last-child {
        margin-bottom: 0;
    }

}

.view > div {
    height: inherit;
}

.home-sorting-menu {
    display: grid;
    height: inherit;
    .sorting-link .title {
        position: absolute;
        bottom: 20%;
    }
}
.categories {
    .sorting-link.activity:last-child {
        margin-bottom: 5.5*$body-padding;
    }
}