@import '../../common/commonStyles/vars.style.scss';

.home-sorting-link {
    background:$cl-main-bg-red;
    margin-bottom: $body-padding;
    padding: 2*$body-padding;   
    display: flex;
    color: $cl-white-tint1;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    &.stuff {
        background: url("../img/covers/menu_new_stuff.jpg");
        background-position: center;
        background-size: cover;
    }
    &.sources {
        background: url("../img/covers/menu_weapon_sources.jpg");
        background-position: center;
        background-size: cover;
    }
    &.god-roll {
        background: url("../img/covers/menu_god_roll.jpg");
        background-position: center;
        background-size: cover;
    }
    &:last-child {
        margin-bottom: 0;
    }

}

.view > div {
    height: inherit;
}
.home-sorting-menu {
    display: grid;
    height: inherit;
}
.categories {
    a:last-child {
        margin-bottom: 5.5*$body-padding;
    }
}