@import '../../common/commonStyles/vars.style.scss';

.home-sorting-link {
    background: $cl-exotic-yellow;
    margin-bottom: $body-padding;
    padding: 2*$body-padding;   
    display: flex;
    color: $cl-white-tint1;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    &:last-child {
        margin-bottom: 0;
    }

}

.view > div {
    height: inherit;
}
.home-sorting-menu {
    display: grid;
    height: inherit;
}