@import '../../common/commonStyles/vars.style.scss';

.weapon-view-header {
    display: flex;
    .weapon-view-header-banner {
        margin-bottom: -25%;
    }
    img {
        width: 100%;
        height: 56%;
        object-fit: cover;
    }
}