
<div class="search-area row ">
    <div class="col-12">
        <div class="row body-padding">
            <label for="A11ySearchArea" class="sr-only">search area</label>
            <input class="form-control col-md-10 offset-md-1 col-lg-8 offset-lg-2" 
                   type="text" 
                   name="search"
                   aria-label="search"
                   id="A11ySearchArea"
                   placeholder="{{::weapons.searchPlaceHolder}}"
                   ng-model="weaponSearch.displayedProperties.name"/>
        </div>
    </div>
</div>

<div class="row body body-padding weapon-list-margin" id="#a11yMainContent" tabindex="-1">
    <div class="col-12">
        <div class="row weapon-list-box" role="menu">
            <div 
                ng-repeat="item in weapons.list | filter: weaponSearch" 
                class="col-sm-12 col-md-6 col-lg-4 col-xl-3"
                role="menuitem">
                    
                <weapon-list-item 
                    list-item="::item"
                    class="weapon-list-item"
                    ng-class="weapons.getRarityClass(item.rarity.hash)">
                </weapon-list-item > 
            </div>
        </div>
    </div>
</div>
