
<div class="search-area row ">
    <div class="col-12">
        <div class="row body-padding">
            <input type="text" class="col-sm-12 col-md-10 offset-sm-1 col-lg-8 offset-lg-2" ng-model="weaponSearch"/>
        </div>
    </div>
</div>

<div class="row body body-padding weapon-list-margin ">
    <div class="col-12">
        <div class="row weapon-list-box">
            <div 
                ng-repeat="item in weapons.list | filter: weaponSearch" 
                class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="weapon-list-item exotic">
                        {{item.displayedProperties.name}}
                    </div>
            </div>
        </div>
    </div>
</div>
