@import '../../common/commonStyles/vars.style.scss';

.scale-line {
    width: 70%;
    background: $cl-gray-tint1;
    height: $fs-stats-view*0.5;
    display: inline-block;
    overflow: hidden;
}
.scale-progress {
    top: 0;
    left: 0;
    height: $fs-stats-view*0.5;
    display: block;
    position: absolute;
    transition: 0.2s;
}
.scale-wrapper {
    display: block;
    position: relative;
}
.scale-stat {
    display: inline-block;
}
.positive {
    background: $cl-stat-positive;
    z-index: 10;
}
.negative {
    background: $cl-gray-tint2;
    z-index: 30;
}
.neutral {
    background: $cl-stat-negative;
    z-index: 20;
}
.stat-number {
    margin-left: $body-padding;
    font-size: $fs-stats-view*0.6;
}