@import '../../common/commonStyles/vars.style.scss';

.weapon-filter {
    position: relative;
    background: $cl-main-bg-black;
    color: $cl-main-bg-red;
    margin-bottom: 4*$body-padding;
}

.filter-section {
    margin-bottom: $body-padding*2;
    .filter-section-title {
        margin-bottom: $body-padding;
    }
    .filter-section-items {
        display: flex;
        width:  100%;
    }
    &.slot {

    }
    &.damage-type {
    }
    &.rarity {

    }
    .filter-section-item {
        background: $cl-empty-bg-black;
        display: flex;
        width: 30%;
        padding: $body-padding;
        &.included {
            background: $cl-main-bg-red;
        }

        img {
            object-fit: contain;
            width: 100%;
        }
    }
}
.filter-buttons-panel {
    margin-top: 4*$body-padding;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $body-padding;
    .button {
        padding: $body-padding;
        background: $cl-filter-item-bg;
        text-align: center;
    }
}