@import '../../common/commonStyles/vars.style.scss';

.weapon-filter {
    color: $cl-main-bg-red;
    display: grid;
    grid-gap: $body-padding;
    grid-template-rows: repeat(autofit, 1fr);
    grid-template-columns: repeat(autofit, 1fr);
    margin-bottom: $body-padding*1.5;
}

.filter-section-title {
    grid-column: 1;
}

.filter-section-content {
    display: grid;
    grid-gap: $body-padding;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}
.filter-section-item {
    display: flex;
    height: 6*$body-padding;
    justify-content: center;
    align-items: center;
    background: $cl-empty-bg-black;
    padding: $body-padding;
    img {
        max-width: 100px;       
    }
    &.included {
        background: $cl-main-bg-red;
    }
    .damageType, .slot {
        max-width: 30%;
    }
}

.filter-button {
    grid-column: 1 /1 ;
}