<div class="body-padding filter-state">
    <div class="filter-section-header">{{filter.itemsDetected ? filter.itemsDetected : 0}} Items found</div>
    <div class="weapon-filter"
         ng-repeat="(itemName, itemContent) in ::filter.hashToName"
         ng-show="::itemName !== 'subSource'"
         ng-if="::itemName !== 'frame'"
         loading-trigger="isFinishState">
        <div class="filter-section-title" ng-switch="::itemName">
            <span ng-switch-when="perkSection">
                    <advanced-filter
                    found-items="filter.searchResults"></advanced-filter>
            </span>
            <span ng-switch-default>
                {{::filter.text[itemName]}} 
                <span ng-show="filter.includedItems[itemName]" class="selected">
                    {{filter.includedItems[itemName]}}
                </span>
            </span>
        </div>
        <div class="filter-section-content {{::itemName}}">
            <div ng-repeat="(hash, name) in ::itemContent track by $index"
                class="filter-section-item"
                ng-class="{'included': this.isIncluded}"
                background-src
                background-section="::itemName"
                background-name="::hash"
                grid-column="::$index+1"
                ng-click="filter.toggleFilter(this, itemName, this.name)">
                    <span class="filter-section-text">
                        <span class="number">
                                {{::hash}}
                        </span>
                        <span ng-switch="::itemName">
                            <span class="text" ng-switch-when="season">
                                {{::name | seasons}}
                            </span>
                            <span class="text" ng-switch-default>
                                {{::name}}
                            </span>
                        </span>
                    </span>
            </div>
        </div>
    </div>
    <div class="filter-view">
        <div class="filter-button" ng-click="filter.moveToList()">
             <span class="icon-filter"></span> <span>{{::filter.text.apply}}</span> 
        </div>
    </div>
</div>