<div class="perks-panel body-padding" ng-class="{active: isExpanded}">
    <div>{{::weapon.perksPanelTextContent.perksPanelHeader}}</div>
    <ul class="all-perks-bucket">
        <li ng-repeat="perk in ::perks.pool" 
            perks-binder 
            binded-perk="perk"
            active-hash="perk.vendorPerk.hash">
            <ul class="all-perks-categories">
                <li>
                    <img ng-src="https://www.bungie.net{{binder.bindedPerk.vendorPerk.icon}}" alt="destiny2 weapon perk icon" class="perk-icon"/>
                    <div class="perk-icon-arrow"></div>
                    <perk-tooltip title="binder.bindedPerk.vendorPerk.name" 
                                  description="binder.bindedPerk.vendorPerk.description"></perk-tooltip>
                </li>
                <li ng-show="isExpanded" class="randomized-perks-container">
                    <ul>
                        <li ng-repeat="randomPerk in ::perk.randomizedPerks track by $index" 
                            class="randomized-perks"
                            ng-class="{'active-perk': randomPerk.hash === binder.activeHash}"
                            ng-click="binder.bindPerk(this, perks.collectRoll)">
                                    <img ng-if="::randomPerk.icon"
                                         ng-src="https://www.bungie.net{{::randomPerk.icon}}" 
                                         class="perk-icon"
                                         alt="destiny2 weapon perk icon"/>
                                <div class="perk-icon-arrow"></div>
                                <perk-tooltip title="::randomPerk.name" 
                                              description="::randomPerk.description"></perk-tooltip>

                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="show-all-perks-button" role="button" ng-click="isExpanded = !isExpanded">
        <span ng-show="!isExpanded">{{::weapon.perksPanelTextContent.perksPanelExpand}}</span><span ng-show="isExpanded">{{::weapon.perksPanelTextContent.perksPanelCollapse}}</span> <span ng-show="isExpanded">&#9651;</span><span ng-show="!isExpanded">&#9661;</span>
    </div>
</div>