@import '../../common/commonStyles/vars.style.scss';

.perks-panel {
    max-height: 200px;
    margin: 0 $mg-weapon-view-content-offset*0.5;
    transition: max-height 0.15s ease-out; 
}
.perks-panel.active {
    max-height: 900px;
    transition: max-height 0.15s ease-out;
}
.randomized-perks-container.ng-hide {
    opacity: 0;
    transition: opacity 0.1s step-start;
}
.randomized-perks-container {
    opacity: 1;
    margin-top: $body-padding*1.5;
    transition: opacity 0.15s ease-out 0.1s;
}
.all-perks-bucket {
    width: 100%;
    display: flex;

    li {

        width: 18%;
        margin-right: 2.5%;
    }

    li:last-child {
        margin-right: 0;
    }
}
li.active-perk {
    border: 1px solid $cl-white-tint0;
    border-radius: $body-padding;
    padding: $body-padding*0.25;
    box-sizing: border-box;
}

.all-perks-categories {
    display: inline-block;
    width: 100%;

    li {
        width: 100%;
        max-width: 100px;
    }

    img {
        width: 100%;
    }
}

.show-all-perks-button {
    text-align: center;
    cursor: pointer;
}

.randomized-perks {
    width: 100%;
}


