@import '../../common/commonStyles/vars.style.scss';

.footer-panel {
    background-color: $cl-empty-bg-black;
    position: fixed;
    z-index: 60;
    width: 100%;
    bottom: 0;
    height: 64px;
}
.footer-button {
    height: 64px;
    display: flex;
    position: relative;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $cl-main-bg-red;
    .text {
        height: 10px;
        font-size: 100%;
        margin: 2px 0 6px;
    }
    cursor: pointer;
    img {
        display: inline-block;
        height: 32px;
        margin: 4px 0;
    }
    &.h-home, &.h-categories, &.w-weaponList, &.s-settings, &.w-filterState, &.w-weaponView {
        background: rgb(204,0,1);
        background: radial-gradient(circle at 50% 155%, $cl-main-bg-red 0%, $cl-empty-bg-black 55%);
        .active-highlight {
            display: flex;
        }
    };
}
.footer-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.active-highlight {
    position: relative;
    display: none;
    width: 35%;
    justify-content: center;
    box-sizing: border-box;
    div {
        border: 1px solid $cl-main-bg-red;
        border-radius: 1px;
        height: 2px;
        margin: 0 1px;
        background: $cl-main-bg-red;
    }
    &.end {
        div {
            margin-bottom: 1px;
        }
    }
}

