@import '../../common/commonStyles/vars.style.scss';

.footer-panel {
    background-color: $cl-empty-bg-black;
    position: fixed;
    z-index: 60;
    width: 100%;
    bottom: 0;
}
.footer-button {
    display: flex;
    position: relative;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5*$body-padding;
    color: $cl-main-bg-red;
    cursor: pointer;
    img {
        width: 30%;
    }
    &.h-home, &.h-categories, &.w-weaponList, &.s-settings, &.w-filterState {
        background: rgb(204,0,1);
        background: radial-gradient(circle at 50% 155%, $cl-main-bg-red 0%, $cl-empty-bg-black 55%);
        .active-highlight {
            display: flex;
        }
    };
}
.footer-button-container {
    display: flex;
    justify-content: space-around;
}
.active-highlight {
    display: none;
    width: 35%;
    justify-content: center;
    div {
        border: 1px solid $cl-main-bg-red;
        border-radius: 1px;
        height: 2px;
        margin: 0 1px;
        background: $cl-main-bg-red;
        margin-bottom: $body-padding*0.5;
    }
    &.end {
        div {
            margin-bottom: 0;
            margin-top: $body-padding*0.5;
        }
    }
}

