@import '../../common/commonStyles/vars.style.scss';

.tooltip {
    display: none;
}
.has-tooltip {
    .tooltip {
        left: $body-padding;
        right: $body-padding;
        position: absolute;
        display: block;
        background: $cl-tooltip-bg;
    }
}