@import '../../common/commonStyles/vars.style.scss';

.tooltip {
    display: none;
}
.has-tooltip {
    .tooltip {
        position: absolute;
        display: block;
        background: $cl-tooltip-bg;
        width: 100%;
    }
}