
<div>
    <div class="row">
        <div class="col-3">
            <img ng-src="{{'https://www.bungie.net' + listItem.displayedProperties.icon}}" alt="destiny2 weapon icon">
        </div>
        <div class="col-8 offset-1 align-items-center row">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        {{listItem.displayedProperties.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{listItem.slot.name}}
                    </div>
                </div>
            </div>
   
        </div>
    </div>
</div>