
<div>
    <img ng-src="https://www.bungie.net{{::listItem.displayedProperties.icon}}"
        alt="destiny2 weapon icon"
        class="weapon-list-item-icon"/>

    <div class="weapon-list-item-text">
        <div class="weapon-list-item-name">
            {{::listItem.displayedProperties.name}}
        </div>

        <div class="weapon-list-item-elemental">
            <img ng-if="::listItem.damageType.icon"                           
            ng-src="https://www.bungie.net{{::listItem.damageType.icon}}"
            alt="destiny2 weapon icon" 
            class="list-item-elemental-icon"/> 
            <span class="weapon-list-item-description">
                {{::listItem.class.name}}
            </span>
        </div>
    </div>
</div>
