@import '../../common/commonStyles/vars.style.scss';

.weapon-list-item {
    margin-bottom: $body-padding;
    box-sizing: border-box;
    padding: 0.3rem;
    color: $cl-white-tint1;
    font-size: $fs-weapon-list-item;
    &.exotic {
        background-color: $cl-exotic-yellow;
    }
    &.legendary {
        background-color: $cl-legendary-purple;
    }
    &.rare {
        background-color: $cl-rare-blue;
    }
    &.uncommon {
        background-color: $cl-uncommon-green;
    }
    &.common {
        background-color: $cl-common-white;
        color: $cl-black-tint1;
    }
    .list-item-elemental-icon {
        height: $fs-weapon-list-item;
    }
    .weapon-list-item-icon {
        height: $fs-weapon-list-item*4.5;
    }
    .weapon-list-item-name {
        font-size: $fs-weapon-list-item*1.2;
        font-weight: 900;
    }
    .weapon-list-item-description {
        font-size: $fs-weapon-list-item*0.8;
        font-weight: 300;
    }
}

.weapon-list-box {
    padding: $body-padding*4;
}

.search-area {
    // background: -moz-linear-gradient(top, rgb(158, 154, 144) 0%, rgba(183, 184, 181, 0.63) 59%, rgba(182,182,182,0.61) 61%, rgba(212,212,212,0.43) 89%, rgba(215,215,215,0.43) 92%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(169,169,169,1) 0%,rgba(188,188,188,0.62) 59%,rgba(182,182,182,0.61) 61%,rgba(212,212,212,0.43) 89%,rgba(215,215,215,0.43) 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201, 195, 182,1) 0%,rgba(201, 195, 182, 1) 10%,rgba(201, 195, 182,0.85) 40%,rgba(201, 195, 182,0.60) 70%,rgba(201, 195, 182,0.50) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#6ed7d7d7',GradientType=0 ); /* IE6-9 */
    font-size: 1rem;
    padding: 1rem 1rem 0.5rem;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    input.form-control {
        text-align: center;
        &:focus {
            border-color: $cl-gray-tint2 !important;
            box-shadow: 0px 0px 7px rgba(99,96,96,1) inset !important;
        }
    }
}
.weapon-list-margin {
    margin-top: 3rem;
}

@media (max-width: 720px) {
    .weapon-list-box{
        padding: $body-padding*4 0;
    }

}