
<div>
    <a ui-sref="weaponView({weaponHash: listItem.hash, language: language})"
       role="link" 
       title="{{::listItem.displayedProperties.name}}">
        <div class="row">
            <div class="col-3 row align-items-center">
                <div class="col">
                    <img ng-src="{{listItem.displayedProperties.icon}}" 
                        alt="destiny2 weapon icon"
                        class="weapon-list-item-icon"/>
                </div>
            </div>
            <div class="col-8 offset-1 align-items-center row">
                <div class="col">
                    <div class="row">
                        <div class="col-12 weapon-list-item-name">
                            {{::listItem.displayedProperties.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img ng-if="::listItem.damageType.icon" 
                                ng-src="{{::listItem.damageType.icon}}" 
                                alt="destiny2 weapon icon" 
                                class="list-item-elemental-icon"/> 
                                <span class="weapon-list-item-description">
                                    {{::listItem.slot.name}}
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

</div>
