@import '../../common/commonStyles/vars.style.scss';

$word-spacing-damage-type: $body-padding*0.25;

.category-title {
    color: $cl-main-bg-red;
    margin-bottom: $body-padding;
}
.weapon-list {
    margin-bottom: 40px;
}
.weapon-list-item {
    margin: 0 auto $body-padding;
    display: flex;
    box-sizing: border-box;
    padding: $body-padding;
    font-size: $fs-weapon-list-item;
    line-height: $fs-weapon-list-item;
    max-width: $wd-body-max*0.8;

    &.weapon-view {
        max-width: 100%;

        &.list-item-content {
            margin-left: $mg-weapon-view-content-offset;
            width: max-content;
        }

        .weapon-list-item-icon {
            height: $fs-weapon-list-item*5.0;
            margin-top: -2.5*$fs-weapon-list-item;
        }

        .weapon-list-item-name, .list-item-elemental-icon  {
            margin-left: $fs-weapon-list-item;
        }
    }
    .weapon-list-item-elemental {
        margin-top: $body-padding;
        word-spacing: $word-spacing-damage-type;
        display: flex;
        align-items: center;
        width: max-content;
    }

    a {
        color: inherit;
    }
    .list-item-elemental-icon {
        height: $fs-weapon-list-item;
        max-width: (100% - 2*$mg-weapon-view-content-offset)*0.25;
        margin-right: $word-spacing-damage-type*2;
    }
    .weapon-list-item-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: (100% - 2*$mg-weapon-view-content-offset)*0.75;
        margin-left: $mg-weapon-view-content-offset;
    }
    .weapon-list-item-icon {
        height: $fs-weapon-list-item*4.0;
    }
    .weapon-list-item-name {
        font-size: $fs-weapon-list-item*1;
        max-width: 100%;
        word-wrap: normal;
        overflow-wrap: normal;
        width: max-content;
        font-weight: 900;
    }

    .weapon-list-item-description {
        font-size: $fs-weapon-list-item*0.7;
        font-weight: 300;
    }
}

.search-area {
    // background: -moz-linear-gradient(top, rgb(158, 154, 144) 0%, rgba(183, 184, 181, 0.63) 59%, rgba(182,182,182,0.61) 61%, rgba(212,212,212,0.43) 89%, rgba(215,215,215,0.43) 92%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(169,169,169,1) 0%,rgba(188,188,188,0.62) 59%,rgba(182,182,182,0.61) 61%,rgba(212,212,212,0.43) 89%,rgba(215,215,215,0.43) 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(22, 22, 22) 0%,rgb(21, 24, 31) 10%,rgba(38, 37, 53, 0.85) 40%,rgba(57, 52, 66, 0.6) 70%,rgba(75, 70, 83, 0.4) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#6ed7d7d7',GradientType=0 ); /* IE6-9 */
    font-size: $body-padding*2;
    z-index: 2;
    position: fixed;
    padding: $body-padding*2 $body-padding;
    top: 0;
    left: 0;
    right: 0;
    input {
        &::placeholder {
            color: $cl-main-bg-red;
        };
        color: $cl-main-bg-red;
        font-size: $body-padding*2;
        background: $cl-empty-bg-black;
        text-align: center;
        width: 100%;
        border-radius: $body-padding*0.5;
        padding: $body-padding*0.5;
        font-size: $body-padding*2;
        border: none;
        box-sizing: border-box;
    }
}
.weapon-list-margin {
    margin-top: $body-padding*6.8;
}
